body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: lightsteelblue;
}

.dropdown{

    text-align: center;

}
td{
    border: 0.5px solid;
}

table{
    border: 0.5px solid;
    margin-left: auto;
    margin-right: auto;
}

.carsinfo{
    text-align: center;


}
.outside{

    text-align: center;
}
